.navbar-custom {
    background-color: #387f75;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:black;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color:black;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-link {
    color:#fff;
}
.navbar-toggler-icon{
    color: black;
} 