* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 25px;
}

.header {
    height: 95vh;
    background-image:linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)),
    url(../img/02-mountains.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0,100% 75vh, 0 100% )
}

.header-text{
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 47px;
}

.heading-primary-sub {
    display: block;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 20.5px;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}
